
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    background: linear-gradient(-45deg, #dfacf7, #f8a5c5, #bae6f7, #a5ffea);
    background-size: 400% 400%;
    animation: body 15s ease infinite;
                                                                                                                                                                                                                               
}  

@keyframes body {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.flex-container {
    display: flex;
    margin: 9%;
 
  
  }
.grid-item {
    position: relative;
  }


.grid-container {
    display: grid;
    grid-template-columns: 120px 120px 120px ;
    grid-auto-rows: 120px;
   
    
  }
  .shape {
    border: 2px rgb(85, 77, 102) solid;
    mix-blend-mode: darken;
    position: absolute;
 
 }
 .shape:hover{
    transform:perspective(200px) rotateY(180deg);
    background-color:  rgb(9, 241, 229);
    border: 4px rgb(9, 241, 229) solid;
    animation: jello-horizontal 0.9s infinite;
    
}
@keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }

 /* A Group*/
#a_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
   
    }
 

#a_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
    
}
#a_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
}
#a_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    
}
#a_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
 
#a_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#a_seven{
    height: 67px;
    width: 15px;
    top: 22px;
    left: 59px;
    background-color: #f1b6cd;
}
#a_eight{
    height: 15px;
    width: 52px;
    top: 59px;
    left: 22px;
    background-color: #f1b6cd;
}

/* B Group*/
#b_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
}
#b_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
}
#b_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
}
#b_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
}
#b_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#b_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#b_seven{
    height: 67px;
    width: 15px;
    top: 22px;
    left: 59px;
    background-color: #f1b6cd;
}
#b_eight{
    height: 15px;
    width: 30px;
    top: 47px;
    left: 44px;
    background-color: #f1b6cd;
}
#b_nine{
    height: 15px;
    width: 52px;
    top: 74px;
    left: 22px;
    background-color: #f1b6cd;
}

/* C Group*/
#c_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
}
#c_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
}
#c_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
}
#c_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
}
#c_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#c_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#c_seven{
    height: 15px;
    width: 52px;
    top: 74px;
    left: 22px;
    background-color: #f1b6cd;
}
#c_eight{
    height: 25px;
    width: 15px;
    top: 22px;
    left: 59px;
    background-color: #f1b6cd;
}
#c_nine{
    height: 25px;
    width: 15px;
    top: 64px;
    left: 59px;
    background-color: #f1b6cd;
}

/* D Group*/
#d_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
}
#d_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
}
#d_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
}
#d_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
}
#d_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#d_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#d_seven{
    height: 15px;
    width: 52px;
    top: 74px;
    left: 22px;
    background-color: #f1b6cd;
}
#d_eight{
    height: 23px;
    width: 15px;
    top: 44px;
    left: 59px;
    background-color: #f1b6cd;
}

/* E Group*/
#e_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
}
#e_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
}
#e_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
}
#e_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
}
#e_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#e_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#e_seven{
    height: 15px;
    width: 52px;
    top: 74px;
    left: 22px;
    background-color: #f1b6cd;
}
#e_eight{
    height: 15px;
    width: 30px;
    top: 47px;
    left: 22px;
    background-color: #f1b6cd;
}

/* F Group*/
#f_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
  
}
#f_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
  
}
#f_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;

}
#f_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
   
}
#f_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#f_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#f_seven{
    height: 15px;
    width: 30px;
    top: 47px;
    left: 22px;
    background-color: #f1b6cd;
}

/* G Group*/
#g_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
}
#g_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
}
#g_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
}
#g_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
}
#g_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#g_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#g_seven{
    height: 15px;
    width: 52px;
    top: 74px;
    left: 22px;
    background-color: #f1b6cd;
}
#g_eight{
    height: 7px;
    width: 15px;
    top: 59px;
    left: 59px;
    background-color: #f1b6cd;
}

/* H Group*/
#h_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;

}
#h_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
  
}
#h_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
   
}
#h_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
  
}
#h_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#h_six{
    height: 15px;
    width: 52px;
    top: 47px;
    left: 22px;
    background-color: #f1b6cd;
}
#h_seven{
    height: 67px;
    width: 15px;
    top: 22px;
    left: 59px;
    background-color: #f1b6cd;
}

/* I Group*/
#i_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;

}
#i_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;

}
#i_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;

}
#i_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;

}
#i_five{
    height: 41px;
    width: 15px;
    top: 74px;
    left: 22px;
    background-color: #f1b6cd;
}
#i_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#i_seven{
    height: 15px;
    width: 52px;
    top: 74px;
    left: 22px;
    background-color: #f1b6cd;
}
#i_eight{
    height: 67px;
    width: 15px;
    top: 22px;
    left: 42px;
    background-color: #f1b6cd;
}

.grid-item4 {
    position: relative;
 }


.grid-container4 {
   display: grid;
   grid-template-columns: 120px 120px 120px ;
   grid-auto-rows: 120px;
   margin-left: 3%;
  
   }
/* J Group*/
#j_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#j_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#j_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
    background-color: #f1b6cd;
}
#j_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    background-color: #f1b6cd;
}
#j_five{
    height: 48px;
    width: 15px;
    top: 67px;
    left: 22px;
}
#j_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
}
#j_seven{
    height: 15px;
    width: 35px;
    top: 74px;
    left: 22px;
}
#j_eight{
    height: 67px;
    width: 15px;
    top: 22px;
    left: 42px;
}

/* K Group*/
#k_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#k_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#k_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
    background-color: #f1b6cd;
}
#k_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    background-color: #f1b6cd;
}
#k_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
}
#k_six{
    height: 15px;
    width: 30px;
    top: 47px;
    left: 22px;
}
#k_seven{
    height: 16px;
    width: 15px;
    top: 27px;
    left: 59px;
}
#k_eight{
    height: 23px;
    width: 15px;
    top: 66px;
    left: 59px;
}

/* L Group*/
#l_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#l_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#l_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
    background-color: #f1b6cd;
}
#l_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    background-color: #f1b6cd;
}
#l_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
}
#l_six{
    height: 15px;
    width: 52px;
    top: 74px;
    left: 22px;
}

/* M Group*/
#m_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#m_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#m_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
    background-color: #f1b6cd;
}
#m_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    background-color: #f1b6cd;
}
#m_five{
    height: 94px;
    width: 13px;
    top: 22px;
    left: 22px;
}
#m_six{
    height: 13px;
    width: 32px;
    top: 22px;
    left: 22px;
}
#m_seven{
    height: 67px;
    width: 13px;
    top: 22px;
    left: 41px;
}
#m_eight{
    height: 13px;
    width: 32px;
    top: 76px;
    left: 41px;
}
#m_nine{
    height: 67px;
    width: 13px;
    top: 22px;
    left: 60px;
}
#m_ten{
    height: 13px;
    width: 32px;
    top: 22px;
    left: 60px;
}
#m_eleven{
    height: 67px;
    width: 13px;
    top: 22px;
    left: 79px;
}

/* n Group*/
#n_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#n_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#n_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
    background-color: #f1b6cd;
}
#n_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    background-color: #f1b6cd;
}
#n_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
}
#n_six{
    height: 15px;
    width: 36px;
    top: 22px;
    left: 22px;
}
#n_seven{
    height: 67px;
    width: 15px;
    top: 22px;
    left: 43px;
}
#n_eight{
    height: 15px;
    width: 36px;
    top: 75px;
    left: 43px;
}
#n_nine{
    height: 67px;
    width: 15px;
    top: 22px;
    left: 64px;
}

/* O Group*/
#o_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#o_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#o_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
    background-color: #f1b6cd;
}
#o_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    background-color: #f1b6cd;
}
#o_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
}
#o_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
}
#o_seven{
    height: 15px;
    width: 52px;
    top: 74px;
    left: 22px;
}
#o_eight{
    height: 67px;
    width: 15px;
    top: 22px;
    left: 59px;
}

/* P Group*/
#p_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#p_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#p_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
    background-color: #f1b6cd;
}
#p_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    background-color: #f1b6cd;
}
#p_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
}
#p_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
}
#p_seven{
    height: 52px;
    width: 15px;
    top: 22px;
    left: 59px;
}
#p_eight{
    height: 15px;
    width: 52px;
    top: 59px;
    left: 22px;
}

/* Q Group*/
#q_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#q_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#q_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
    background-color: #f1b6cd;
}
#q_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    background-color: #f1b6cd;
}
#q_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
}
#q_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
}
#q_seven{
    height: 15px;
    width: 52px;
    top: 74px;
    left: 22px;
}
#q_eight{
    height: 67px;
    width: 15px;
    top: 22px;
    left: 59px;
}
#q_nine{
    height: 15px;
    width: 15px;
    top: 74px;
    left: 80px;
}

/* R Group*/
#r_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#r_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
    background-color: #f1b6cd;
}
#r_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
    background-color: #f1b6cd;
}
#r_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    background-color: #f1b6cd;
}
#r_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
}
#r_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
}
#r_seven{
    height: 23px;
    width: 15px;
    top: 22px;
    left: 59px;
}
#r_eight{
        height: 15px;
        width: 35px;
        top: 47px;
        left: 22px;
    }
#r_nine{
        height: 23px;
        width: 15px;
        top: 66px;
        left: 59px;
    }

    .grid-item5 {
        position: relative;
        
    
     }
    
     @keyframes shake {
        0% {
            transform: translate(0,0);
        }
        50% {
            transform: translate(2px,-5px);
        }
        100% {
            transform: translate(2px,2px); 
        }
    }
    @keyframes shakee {
        0% {
            transform: translate(0,0);
        }
        50% {
            transform: translate(3px,-5px);
        }
        100% {
            transform: translate(-1px,3px) 
        }
    }
    .grid-container5 {
       display: grid;
       grid-template-columns: 120px 120px 120px ;
       grid-auto-rows: 120px;
       margin-left: 3%;

      
       }
    /* s Group*/
#s_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
    
   
}
#s_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
}
#s_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
   
}
#s_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    
}
#s_five{
    height: 46px;
    width: 15px;
    top: 69px;
    left: 22px;
    background-color: #f1b6cd;
  
}
#s_six{
    height: 15px;
    width: 52px;
    top: 74px;
    left: 22px;
    background-color: #f1b6cd;
}
#s_seven{
    height: 42px;
    width: 15px;
    top: 47px;
    left: 59px;
    background-color: #f1b6cd;
   
}
#s_eight{
    height: 15px;
    width: 52px;
    top: 47px;
    left: 22px;
    background-color: #f1b6cd;
}
#s_nine{
    height: 40px;
    width: 15px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
  
}
#s_ten{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#s_eleven{
    height: 19px;
    width: 15px;
    top: 22px;
    left: 59px;
    background-color: #f1b6cd;
}

/* T Group*/
#t_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
}
#t_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
}
#t_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
}
#t_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
}
#t_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 40px;
    background-color: #f1b6cd;
}
#t_six{
    height: 15px;
    width: 52px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}

/* U Group*/
#u_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
    animation: shake 100ms infinite;
}
#u_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
    animation: shake 100ms infinite;
}
#u_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
    animation: shakee 100ms infinite;
}
#u_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    animation: shake 100ms infinite;
}
#u_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
    animation: shakee 100ms infinite;
}
#u_six{
    height: 15px;
    width: 52px;
    top: 74px;
    left: 22px;
    animation: shake 100ms infinite;
}
#u_seven{
    height: 67px;
    width: 15px;
    top: 22px;
    left: 59px;
    animation: shake 100ms infinite;
}

/* V Group*/
#v_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
   
   
}
#v_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
  
}
#v_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
}
#v_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;

}
#v_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#v_six{
    height: 30px;
    width: 15px;
    top: 59px;
    left: 43px;
    background-color: #f1b6cd;
 
}
#v_seven{
    height: 67px;
    width: 15px;
    top: 22px;
    left: 64px;
    background-color: #f1b6cd;
  
}

/* w Group*/
#w_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
}
#w_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
}
#w_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
}
#w_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
}
#w_five{
    height: 94px;
    width: 13px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#w_six{
    height: 13px;
    width: 32px;
    top: 76px;
    left: 22px;
    background-color: #f1b6cd;
}
#w_seven{
    height: 67px;
    width: 13px;
    top: 22px;
    left: 41px;
    background-color: #f1b6cd;
}
#w_eight{
    height: 13px;
    width: 32px;
    top: 22px;
    left: 41px;
    background-color: #f1b6cd;
}

#w_nine{
    height: 67px;
    width: 13px;
    top: 22px;
    left: 60px;
    background-color: #f1b6cd;
}
#w_ten{
    height: 13px;
    width: 32px;
    top: 76px;
    left: 60px;
    background-color: #f1b6cd;
}
#w_eleven{
    height: 67px;
    width: 13px;
    top: 22px;
    left: 79px;
    background-color: #f1b6cd;
}

 /* X Group*/
 #x_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
    animation: shakee 100ms infinite;
}
#x_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
    animation: shake 100ms infinite;
}
#x_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
    animation: shakee 100ms infinite;
}
#x_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
    animation: shakee 100ms infinite;
}
#x_five{
    height: 46px;
    width: 15px;
    top: 69px;
    left: 22px;
    animation: shake 100ms infinite;
}
#x_six{
    height: 32px;
    width: 15px;
    top: 22px;
    left: 22px;
    animation: shakee 100ms infinite;
}
#x_seven{
    height: 7px;
    width: 15px;
    top: 58px;
    left: 43px;
    animation: shakee 100ms infinite;
}
#x_eight{
    height: 32px;
    width: 15px;
    top: 22px;
    left: 63px;
    animation: shake 100ms infinite;
}
#x_nine{
    height: 25px;
    width: 15px;
    top: 68px;
    left: 63px;
    animation: shakee 100ms infinite;
}

/* Y Group*/
#y_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
}
#y_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
}
#y_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
}
#y_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
}
#y_five{
    height: 68px;
    width: 15px;
    top: 47px;
    left: 40px;
    background-color: #f1b6cd;
}
#y_six{
    height: 15px;
    width: 52px;
    top: 47px;
    left: 22px;
    background-color: #f1b6cd;
}
#y_seven{
    height: 40px;
    width: 15px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
}
#y_eight{
    height: 40px;
    width: 15px;
    top: 22px;
    left: 59px;
    background-color: #f1b6cd;
}

/* Z Group*/
#z_one{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 0px;
}
#z_two{
    height: 15px;
    width: 116px;
    top: 0px;
    left: 0px;
}
#z_three{
    width: 15px;
    height: 116px;
    top: 0px;
    left: 101px;
}
#z_four{
    height: 15px;
    width: 94px;
    top: 101px;
    left: 22px;
}
#z_five{
    height: 94px;
    width: 15px;
    top: 22px;
    left: 40px;
    background-color: #f1b6cd;
}
#z_six{
    height: 13px;
    width: 32px;
    top: 76px;
    left: 40px;
    background-color: #f1b6cd;
}
#z_seven{
    height: 13px;
    width: 32px;
    top: 22px;
    left: 22px;
    background-color: #f1b6cd;
   
}

#tablet,
#mobile,
#print {
    display: none;
}


@media (min-width: 670px) and (max-width: 1024px) {
    body{
        background-color: lightblue;
        background: linear-gradient(-45deg, #dfacf7, #f8a5c5, #bae6f7, #a5ffea);
        background-size: 400% 400%;
        animation: body 15s ease infinite;
                                                                                                                                                                                                                                   
    }  
    
    @keyframes body {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .grid-item2 {
        position: relative;
      }
    
    
    .grid-container2 {
        display: grid;
        grid-template-columns: 90px 90px 90px 90px 90px ;
        grid-auto-rows: 120px;
        margin-left: 25%;
        margin-top: 10%;
        }

    #one_one{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 0px;
    }
    #one_two{
        height: 15px;
        width: 86px;
        top: 0px;
        left: 0px;
    }
    #one_three{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 71px;
    }
    #one_four{
        height: 15px;
        width: 64px;
        top: 101px;
        left: 22px;
    }
  
    #one_five{
        height: 94px;
        width: 15px;
        top: 22px;
        left: 31px;
    }
    #one_six{
        height: 15px;
        width: 24px;
        top: 31px;
        left: 22px;
    }
    
    /* 2 Group*/
    #two_one{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 0px;
    }
    #two_two{
        height: 15px;
        width: 86px;
        top: 0px;
        left: 0px;
    }
    #two_three{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 71px;
    }
    #two_four{
        height: 15px;
        width: 64px;
        top: 101px;
        left: 22px;
    }
    #two_five{
        height: 57px;
        width: 15px;
        top: 58px;
        left: 22px;
    }
    #two_six{
        height: 15px;
        width: 34px;
        top: 22px;
        left: 22px;
    }
    #two_seven{
        height: 51px;
        width: 15px;
        top: 22px;
        left: 41px;
    }
    #two_eight{
        height: 15px;
        width: 34px;
        top: 58px;
        left: 22px;
    }
    
    /* 3 Group*/
    #three_one{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 0px;
    }
    #three_two{
        height: 15px;
        width: 86px;
        top: 0px;
        left: 0px;
    }
    #three_three{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 71px;
    }
    #three_four{
        height: 15px;
        width: 64px;
        top: 101px;
        left: 22px;
    }
    #three_five{
        height: 94px;
        width: 15px;
        top: 22px;
        left: 41px;
    }
    #three_six{
        height: 15px;
        width: 34px;
        top: 22px;
        left: 22px;
    }
    #three_seven{
        height: 15px;
        width: 34px;
        top: 58px;
        left: 22px;
    }
    
    /* 4 Group*/
    #four_one{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 0px;
    }
    #four_two{
        height: 15px;
        width: 86px;
        top: 0px;
        left: 0px;
    }
    #four_three{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 71px;
    }
    #four_four{
        height: 15px;
        width: 64px;
        top: 101px;
        left: 22px;
    }
    #four_five{
        height: 94px;
        width: 15px;
        top: 22px;
        left: 41px;
    }
    #four_six{
        height: 44px;
        width: 15px;
        top: 29px;
        left: 22px;
    }
    #four_seven{
        height: 15px;
        width: 34px;
        top: 58px;
        left: 22px;
    }
    
    /* 5 Group*/
    #five_one{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 0px;
    }
    #five_two{
        height: 15px;
        width: 86px;
        top: 0px;
        left: 0px;
    }
    #five_three{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 71px;
    }
    #five_four{
        height: 15px;
        width: 64px;
        top: 101px;
        left: 22px;
    }
    #five_five{
        height: 57px;
        width: 15px;
        top: 58px;
        left: 41px;
    }
    #five_six{
        height: 15px;
        width: 34px;
        top: 22px;
        left: 22px;
    }
    #five_seven{
        height: 51px;
        width: 15px;
        top: 22px;
        left: 22px;
    }
    #five_eight{
        height: 15px;
        width: 34px;
        top: 58px;
        left: 22px;
    }
    
     /* 6 Group*/
     #six_one{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 0px;
    }
    #six_two{
        height: 15px;
        width: 86px;
        top: 0px;
        left: 0px;
    }
    #six_three{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 71px;
    }
    #six_four{
        height: 15px;
        width: 64px;
        top: 101px;
        left: 22px;
    }
    #six_five{
        height: 94px;
        width: 15px;
        top: 22px;
        left: 22px;
    }
    #six_six{
        height: 15px;
        width: 24px;
        top: 22px;
        left: 22px;
    }
    #six_seven{
        height: 57px;
        width: 15px;
        top: 58px;
        left: 44px;
    }
    #six_eight{
        height: 15px;
        width: 37px;
        top: 58px;
        left: 22px;
    }
    
     /* 7 Group*/
     #seven_one{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 0px;
    }
    #seven_two{
        height: 15px;
        width: 86px;
        top: 0px;
        left: 0px;
    }
    #seven_three{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 71px;
    }
    #seven_four{
        height: 15px;
        width: 64px;
        top: 101px;
        left: 22px;
    }
    #seven_five{
        height: 94px;
        width: 15px;
        top: 22px;
        left: 41px;
    }
    #seven_six{
        height: 15px;
        width: 34px;
        top: 22px;
        left: 22px;
    }
    
    /* 8 Group*/
    #eight_one{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 0px;
    }
    #eight_two{
        height: 15px;
        width: 86px;
        top: 0px;
        left: 0px;
    }
    #eight_three{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 71px;
    }
    #eight_four{
        height: 15px;
        width: 64px;
        top: 101px;
        left: 22px;
    }
    #eight_five{
        height: 94px;
        width: 15px;
        top: 22px;
        left: 22px;
    }
    #eight_six{
        height: 15px;
        width: 37px;
        top: 22px;
        left: 22px;
    }
    #eight_seven{
        height: 94px;
        width: 15px;
        top: 22px;
        left: 44px;
    }
    #eight_eight{
        height: 15px;
        width: 37px;
        top: 58px;
        left: 22px;
    }
    
    /* 9 Group*/
    #nine_one{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 0px;
    }
    #nine_two{
        height: 15px;
        width: 86px;
        top: 0px;
        left: 0px;
    }
    #nine_three{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 71px;
    }
    #nine_four{
        height: 15px;
        width: 64px;
        top: 101px;
        left: 22px;
    }
    #nine_five{
        height: 94px;
        width: 15px;
        top: 22px;
        left: 44px;
    }
    #nine_six{
        height: 15px;
        width: 37px;
        top: 22px;
        left: 22px;
    }
    #nine_seven{
        height: 51px;
        width: 15px;
        top: 22px;
        left: 22px;
    }
    #nine_eight{
        height: 15px;
        width: 37px;
        top: 58px;
        left: 22px;
    }
    
    /* 0 Group*/
    #zero_one{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 0px;
    }
    #zero_two{
        height: 15px;
        width: 86px;
        top: 0px;
        left: 0px;
    }
    #zero_three{
        width: 15px;
        height: 116px;
        top: 0px;
        left: 71px;
    }
    #zero_four{
        height: 15px;
        width: 64px;
        top: 101px;
        left: 22px;
    }
    #zero_five{
        height: 94px;
        width: 15px;
        top: 22px;
        left: 22px;
    }
    #zero_six{
        height: 15px;
        width: 37px;
        top: 22px;
        left: 22px;
    }
    #zero_seven{
        height: 94px;
        width: 15px;
        top: 22px;
        left: 44px;
    }



    .grid-item3 {
        position: relative;
     }
   
   
   .grid-container3 {
       display: grid;
       grid-template-columns: 90px 90px 90px 90px 90px 90px ;
       grid-auto-rows: 120px;
       margin-left: 20%;
       margin-top: 8%;
      
       }
   
       /* " Group*/
   #dqm_one{
       width: 15px;
       height: 116px;
       top: 0px;
       left: 0px;
   }
   #dqm_two{
       height: 15px;
       width: 86px;
       top: 0px;
       left: 0px;
   }
   #dqm_three{
       width: 15px;
       height: 116px;
       top: 0px;
       left: 71px;
   }
   #dqm_four{
       height: 15px;
       width: 64px;
       top: 101px;
       left: 22px;
   }
   #dqm_five{
       height: 15px;
       width: 15px;
       top: 22px;
       left: 22px;
   }
   #dqm_six{
       height: 15px;
       width: 15px;
       top: 22px;
       left: 43px;
   }
   
   /* "" Group*/
   #dqmb_one{
       width: 15px;
       height: 116px;
       top: 0px;
       left: 0px;
   }
   #dqmb_two{
       height: 15px;
       width: 86px;
       top: 0px;
       left: 0px;
   }
   #dqmb_three{
       width: 15px;
       height: 116px;
       top: 0px;
       left: 71px;
   }
   #dqmb_four{
       height: 15px;
       width: 64px;
       top: 101px;
       left: 22px;
   }
   #dqmb_five{
       height: 15px;
       width: 15px;
       top: 79px;
       left: 29px;
   }
   #dqmb_six{
       height: 15px;
       width: 15px;
       top: 79px;
       left: 49px;
   }
   
   /* . Group*/
   #pr_one{
       width: 15px;
       height: 116px;
       top: 0px;
       left: 0px;
   }
   #pr_two{
       height: 15px;
       width: 86px;
       top: 0px;
       left: 0px;
   }
   #pr_three{
       width: 15px;
       height: 116px;
       top: 0px;
       left: 71px;
   }
   #pr_four{
       height: 15px;
       width: 64px;
       top: 101px;
       left: 22px;
   }
   #pr_five{
       height: 30px;
       width: 30px;
       top: 64px;
       left: 22px;
   }
   
   /* , Group*/
   #co_one{
       width: 15px;
       height: 116px;
       top: 0px;
       left: 0px;
   }
   #co_two{
       height: 15px;
       width: 86px;
       top: 0px;
       left: 0px;
   }
   #co_three{
       width: 15px;
       height: 116px;
       top: 0px;
       left: 71px;
   }
   #co_four{
       height: 15px;
       width: 64px;
       top: 101px;
       left: 22px;
   }
   #co_five{
       height: 15px;
       width: 15px;
       top: 79px;
       left: 22px;
   }
   
   /* ! Group*/
   #em_one{
       width: 15px;
       height: 116px;
       top: 0px;
       left: 0px;
   }
   #em_two{
       height: 15px;
       width: 86px;
       top: 0px;
       left: 0px;
   }
   #em_three{
       width: 15px;
       height: 116px;
       top: 0px;
       left: 71px;
   }
   #em_four{
       height: 15px;
       width: 64px;
       top: 101px;
       left: 22px;
   }
   #em_five{
       height: 15px;
       width: 15px;
       top: 79px;
       left: 22px;
   }
   #em_six{
       height: 50px;
       width: 15px;
       top: 22px;
       left: 22px;
   }
   
   /* ? Group*/
   #qm_one{
       width: 15px;
       height: 116px;
       top: 0px;
       left: 0px;
   }
   #qm_two{
       height: 15px;
       width: 86px;
       top: 0px;
       left: 0px;
   }
   #qm_three{
       width: 15px;
       height: 116px;
       top: 0px;
       left: 71px;
   }
   #qm_four{
       height: 15px;
       width: 64px;
       top: 101px;
       left: 22px;
   }
   #qm_five{
       height: 21px;
       width: 15px;
       top: 51px;
       left: 22px;
   }
   #qm_six{
       height: 15px;
       width: 34px;
       top: 22px;
       left: 22px;
   }
   #qm_seven{
       height: 42px;
       width: 15px;
       top: 22px;
       left: 41px;
   }
   #qm_eight{
       height: 13px;
       width: 34px;
       top: 51px;
       left: 22px;
   }
   #qm_nine{
       height: 15px;
       width: 15px;
       top: 79px;
       left: 22px;
   }

   #tablet {
    display: inline;
   
}
#desktop,
#mobile,
#print {
    display: none;
}
}
