body {
    background-image: url('image/884d3374288bfb2bf9018e327ef71026b303bd.jpeg');
  }
 
  .container{
    position:absolute;
    top:86px;
   
}
.container2{
    position:absolute;
    top:86px;
    left:750px;
}
h1{
    position:relative;
  left:10px;
    color: rgb(218, 184, 35);
}
.h1{
   
    height: 50px;
    width: 480px;
    background-color: rgb(13, 13, 14);
}
  